body.page-blog {
  .banner {
    background-image: url('../img/banner-home.jpg');
  }
  .blog-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    .blog-categories {
      margin-left: 100px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-shrink: 0;
      max-width: 300px;
      a {
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #1e3837;
        font-size: 24px;
        &:last-child {
          margin-bottom: 0;
        }
        &.nuxt-link-active {
          color: #cfbbb4;
        }
      }
    }
    .blog-content {
      flex: 1;
      width: 100%;
    }
  }
}

body.page-blog-articles {
  .blog-articles {
    max-width: 800px;
    .blog-article-container {
      margin-bottom: 200px;
    }
  }
}

body.page-blog-detail {
  .blog-article {
    .blog-article-image {
      margin-bottom: 40px;
      img {
        width: 100%;
      }
    }

    .blog-article-content {
      color: #395b5d;
      font-size: 18px;
      word-break: break-all;
      h3 {
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 15px;
        line-height: 25px;
      }
    }
  }
}

@screen sm {
  body.page-blog {
    .blog-container {
      margin-top: 50px;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      .blog-categories {
        margin-left: 0;
        margin-bottom: 50px;
        a {
          text-align: center;
          margin-bottom: 10px;
        }
      }
      .blog-articles {
        .blog-article-container {
          margin-bottom: 40px;
        }
      }
    }
  }

  body.page-blog-detail {
    .blog-container {
      .blog-categories {
        display: none;
      }
    }
  }
}
