body {
  font-family: 'Josefin Sans', serif;
}

/* Transitions using the page hook */

.page-enter-active,
.page-leave-active {
  transition: all 0.5s ease-out;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}

.content-wrapper {
  position: relative;
  &:after {
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    opacity: 0;
    content: '';
    display: none;
  }
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
  > .container {
    position: relative;
  }
  .header-nav {
    &.header-nav--mobile {
      display: none;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
      a {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-left: 20px;
        margin-right: 20px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        &.nuxt-link-active {
          color: #1c5253;
        }
      }
    }

    .header-nav-logo {
      a {
        img {
          height: 80px;
        }
      }
    }
  }

  .header-social-links {
    position: absolute;
    right: -67px;
    top: -18px;
    height: 116px;
    background: #1c5253;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 3px 5px 2px;
    z-index: 110;
    border-radius: 0px;
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-position: center;
  background-color: #f5e6df;
  background-size: cover;
  margin-bottom: 20px;
  transition: 1s ease background-image, 0.5s ease height, 0.5s ease opacity,
    0.5s ease background-color;
  &.banner--hidden {
    height: 0 !important;
    opacity: 0;
  }
  .banner-title {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }
}

.footer {
  padding: 40px;
  background-color: #f5e6df;
  .footer-contact {
    padding: 0 0px 0px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .footer-contact-details {
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 50px;
      text-align: center;
      line-height: 40px;
    }
    .footer-contact-social-links {
      display: flex;
      a {
        display: block;
        color: #1c5155;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .footer-contact-title {
      margin-top: 40px;
      text-align: center;
      color: #194339;
      font-size: 28px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 50px;
    }
  }

  .footer-instagram {
    padding: 0 40px 0px 0px;
    position: relative;
    display: flex;
    align-items: flex-start;
    .footer-instagram-title {
      width: 40px;
      text-align: left;
      height: 100%;
      flex-shrink: 0;
      span {
        transform: rotate(-90deg);
        text-transform: uppercase;
        transform-origin: 0 100%;
        position: absolute;
        line-height: 25px;
        font-size: 22px;
        letter-spacing: 4px;
        z-index: 10;
        height: 30px;
        width: 100%;
        left: 35px;
        bottom: 10px;
      }
    }
    .footer-instagram-pictures {
      flex: 1;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      .footer-instagram-picture {
        width: 32%;
        margin-bottom: 10px;
        img {
          width: 100%;
        }
      }
    }
  }
}

.title {
  &.title--right-lined {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 10px;
    .container {
      display: block;
    }
    span:not(.container) {
      background: white;
      padding-right: 10px;
      padding-left: 10px;
      z-index: 100;
      position: relative;
    }

    .container {
      span {
        margin-left: -10px;
      }
    }

    &:after {
      z-index: 99;
      content: '';
      position: absolute;
      left: 0;
      top: 24px;
      width: 100%;
      height: 3px;
      background: black;
    }
  }

  &.title--left-lined {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    color: #395b5d;
    margin-bottom: 20px;
    span {
      background: white;
      padding-left: 10px;
      z-index: 100;
      position: relative;
    }
    &:after {
      z-index: 99;
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 3px;
      background: #395b5d;
      margin-top: -1.5px;
    }
  }
}

@media screen and (max-width: 1279px) {
  .banner {
    height: 150px;
  }

  .header {
    margin-bottom: 10px;
    margin-top: 10px;
    .header-social-links {
      display: none;
    }
    .header-nav {
      &.header-nav--desktop {
        display: none;
      }
      &.header-nav--mobile {
        display: flex;
        justify-content: space-between;
        .header-nav-logo {
          a {
            img {
              height: 80px;
            }
          }
        }
        .header-nav-button {
          position: relative;
          z-index: 1001;
        }
        .header-nav-mobile-menu {
          display: none;
          position: fixed;
          background: white;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 1000;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          a {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;
          }
          &.header-nav-mobile-menu--visible {
            display: flex;
          }
        }
      }
    }
  }
}
