body.page-portfolio {
  .banner {
    background-image: url('../img/banner-portfolio.jpg');
    margin-bottom: 0;
  }

  .portfolio-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 3px solid black;
    .container {
      display: flex;
      flex-wrap: wrap;
      a {
        text-transform: uppercase;
        margin-right: 30px;
        font-size: 18px;
        &:last-child {
          margin-right: 0;
        }
        &.nuxt-link-active {
          color: #e3c4d3;
        }
      }
    }
  }

  .portfolio--sticky {
    .portfolio-nav {
      position: fixed;
      top: 120px;
      z-index: 99;
      background: white;
      width: 100%;
    }

    .portfolio-content {
      margin-top: 90px;
    }
  }

  .portfolio-masonry {
    .portfolio-masonry-item {
      cursor: pointer;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 1279px) {
  body.page-portfolio {
    .portfolio--sticky {
      .portfolio-nav {
        top: 90px;
      }
    }
  }
}
