body.page-shop {
  .banner {
    background-image: url('../img/banner-home.jpg');
    margin-bottom: 0px;
  }

  .shop-categories {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 3px solid black;
    .container {
      display: flex;
      flex-wrap: wrap;
      a {
        text-transform: uppercase;
        margin-right: 30px;
        font-size: 18px;
        &:last-child {
          margin-right: 0;
        }
        &.nuxt-link-active {
          color: #e3c4d3;
        }
      }
    }
  }
}
